@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Titan+One&display=swap');

*{
    font-family: "Poppins, sans-serif";
}
html, body {
  overflow-x: hidden;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 66px;

  display: flex;
  justify-content: center; /* centers horizontally */
  align-items: center;     /* centers vertically */
}

.section{
    width: 100%;
}

.section_title{
    height: 10%;
    max-height: 105px;
    min-height: 105px;
    width: 100%;
    /* background-color: blue; */
    display: flex;
    align-items: center;     /* ✅ vertically centers content */
    justify-content: center; /* ✅ horizontally centers content */
}

.section_title .section_title_box{
    font-size: 28px;
    border-bottom: 5px solid peachpuff;
    font-family: "Titan One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.section_content{
    height: 90%;
    width: 100%;
    padding: 20px;
    /* background-color: red; */
    /* background-color: rgb(178, 18, 18); */
    
}


.section.home {
    background-image: url('../image/mainpic.jpeg');
    /* background-color: red; */
    background-size: cover;       /* ⭐ makes the image fill the entire container */
    background-repeat: no-repeat; /* ⭐ prevents repeating */
    background-position: center;  /* ⭐ keeps the image centered */
    height: 100vh;
    max-height: 1024px;
    /* min-height: 1024px; */

    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 768px) {
    .section.home {
        background-position: 60% center; /* move left — adjust % as needed */
    }

}

.home_slide{
    /* background-color: green; */
    width: 90%;
    height:100%;
    padding-top: 70px;
    padding-bottom: 70px;
    
}



.section.about{
        /* border: 1px solid black; */
    background-color: rgb(252, 255, 255);
    /* background-color: red; */
    height: 100vh;
    max-height: 1024px;
    min-height: 800px;
    display: flex;
    align-items: center;     /* ✅ vertically centers content */
    justify-content: center; /* ✅ horizontally centers content */
}

.about_slide{
        /* background-color: green; */
    width: 90%;
    height:100%;
    padding-top: 70px;
    padding-bottom: 70px;
}
@media (max-width: 480px) {
    .section.about{
        height: 130vh;
        max-height: 1340px;
        min-height: 1000px;
    }
}

@media (max-width: 376px) {
    .section.about{
        /* background-color: red; */
        height: 160vh;
        max-height: 1640px;
        min-height: 1340px;
    }
}
.section.project{
    /* border: 1px solid black; */
    background-color: #f1ffef;
    height: 100vh;
    max-height: 1024px;
    min-height: 1024px;
    /* border: 1px solid black; */
    display: flex;
    align-items: center;     /* ✅ vertically centers content */
    justify-content: center; /* ✅ horizontally centers content */

}

.project_slide{
            /* background-color: green; */
    width: 90%;
    height:100%;
    padding-top: 70px;
    padding-bottom: 70px;
}

@media (max-width: 480px) {
    .section.project{
        max-height: 1140px;
        min-height: 1140px;
    }
}

@media (max-width: 376px) {
    .section.project{
        
        
        max-height: 1040px;
        min-height: 1040px;
    }
}



.section.experience{
    /* border: 1px solid black; */
    background-color: #fbffc5;
    height: 135vh;
    max-height: 1250px;
    min-height: 1250px;
    display: flex;
    align-items: center;     /* ✅ vertically centers content */
    justify-content: center; /* ✅ horizontally centers content */

}

.experience_slide{
    /* background-color: green; */
    width: 90%;
    height:100%;
    padding-top: 70px;
    padding-bottom: 70px;
    
}

.section_content.exp_ctn{
    height: 90%;
    width: 100%;
    /* background-color: rgb(178, 18, 18); */
    display: flex;
    justify-content: center; /* ✅ horizontally centers content */
    
}
@media (max-width: 998px) {
    .section.experience{
        height: 290vh;
        max-height: 2100px;
        min-height: 2100px;
    }

    .section_content.exp_ctn{
    height: 95%;
    width: 100%;
    /* background-color: rgb(178, 18, 18); */
    display: flex;
    justify-content: center; /* ✅ horizontally centers content */
    
}
}

@media (max-width: 520px) {
    .section.experience{
        /* background-color: orange; */
        
        max-height: 2200px;
        min-height: 2200px;
    }
}
@media (max-width: 480px) {
    .section.experience{

        max-height: 3000px;
        min-height: 3000px;
    }
}

@media (max-width: 376px) {
    .section.experience{
        /* background-color: rgb(38, 255, 0); */
        max-height: 3100px;
        min-height: 3100px;
    }

}

.section.skill{
    /* border: 1px solid black; */
    background-color: #f9efff;
    height: 100vh;
    max-height: 850px;
    min-height: 850px;
    display: flex;
    align-items: center;     /* ✅ vertically centers content */
    justify-content: center; /* ✅ horizontally centers content */

}

.skill_slide{
    width: 90%;
    height:100%;
    padding-top: 70px;
    padding-bottom: 70px;
}

@media (max-width: 480px) {
    .section.skill{

        max-height: 1200px;
        min-height: 1200px;
    }
}

@media (max-width: 376px) {
    .section.skill{
        /* background-color: rgb(38, 255, 0); */
        max-height: 1200px;
        min-height: 1200px;
    }

}

.section.hobbie{
    /* border: 1px solid black; */
    background-color: #eff6ff;
    height: 100vh;
    max-height: 850px;
    min-height: 850px;
    display: flex;
    align-items: center;     /* ✅ vertically centers content */
    justify-content: center; /* ✅ horizontally centers content */

}

.hobbie_slide{
    /* background-color: green; */
    width: 90%;
    height:100%;
    padding-top: 70px;
    padding-bottom: 70px;
}


@media (max-width: 768px) {
    .section.hobbie{
        max-height: 1200px;
        min-height: 1200px;
    }
}

@media (max-width: 480px) {
    .section.hobbie{
        max-height: 1340px;
        min-height: 1340px;
    }
}

@media (max-width: 376px) {
    .section.hobbie{
        /* background-color: red; */
        max-height: 1600px;
        min-height: 1600px;

    }
}



.section.contact{
    /* border: 1px solid black; */
    background-color: #e8f5e9;
    height: 100vh;
    max-height: 850px;
    min-height: 850px;

    display: flex;
    align-items: center;     /* ✅ vertically centers content */
    justify-content: center; /* ✅ horizontally centers content */

}

.contact_slide{

        width: 90%;
    height:100%;
    padding-top: 70px;
    padding-bottom: 70px;
    /* background-color:blue; */
}

@media (max-width: 1440px) {
    .section.contact{
        max-height: 1200px;
        min-height: 1200px;
    }
}

@media (max-width: 768px) {
    .section.contact{
        max-height: 100px;
        min-height: 1000px;
    }
}

@media (max-width: 426px) {
    .section.contact{
        /* background-color: red; */
        max-height: 850px;
        min-height: 850px;
    }
}

@media (max-width: 376px) {
    .section.contact{
        max-height: 1200px;
        min-height: 1200px;
    }
}

@media (max-width: 320px) {
    .section.contact{
        max-height: 1200px;
        min-height: 1200px;
    }
}



