<section class="slide" id="slide1">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="upper text-center">
                    <h2>slide 1</h2>
                </div>
              
            </div>
        </div>

    </div>
</section>
<section class="slide" id="slide2">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="upper text-center">
                    <h2>slide 2</h2>
                </div>
            </div>
        </div>

    </div>
</section>
<section class="slide" id="slide3">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="upper text-center">
                    <h2>slide 3</h2>
                </div>
            </div>
        </div>

    </div>
</section>