<div class="section home" id="home">
    <div class="home_slide">
        <div class="maincontent">
            <h1 >Hi, my name is Chin Xian Rong</h2>
            <h2>I'm a Software Engineer</h2>
        </div>
       
    </div>
</div>

<div class="section about" id="about">
    <div class="about_slide">
        <div class="section_title">
            <div class="section_title_box">
                About
            </div>
        </div>
        <div class="section_content abt_ctn" >
            <div class="about_content">
                <div class="pcontent">
                    <div class="pc pc1">
                        <p>A passionate Software Engineer with experience in full-stack web development at a geotechnical company, focused on developing a web-based Borehole Log System (IDMS). Contributed to centralizing borehole data and streamlining the collection, review, and preparation of borehole logs for both office and field operations. Experienced in internal performance optimization projects and building scalable solutions on Google Cloud Platform (GCP). 
                        <br>Holds a First-Class Honours Bachelor’s Degree in Software Engineering (CGPA 3.73) from UNIMAS, with a strong passion for writing clean, efficient, and reliable code. 
                    </p>
                    </div>
                    <div class="pc pc2">
                        <div class="pc pc2sub1">
                            
                            <div class="picimg">

                                <img src="/image/Chin Xian Rong.jpg" alt="">
                            </div>

                        </div>
                        <div class="pc pc2sub2">
                            <div class="aboutcard">
                            <div class="row">
                                <h1>Software Engineer</h1>
                                
                            </div>
                            <div class="row">
                                <ul>
                                    <li>
                                        <i class="bi bi-cake2"></i>
                                        <strong>Birthday: </strong>
                                        <span>4 October 1999</span>
                                    </li>
                                    <li>
                                        <i class="bi bi-link-45deg"></i>
                                        <strong>Website: </strong>
                                        <span>xrchin.com</span>
                                    </li>
                                    <li>
                                        <i class="bi bi-telephone"></i>
                                        <strong>Phone: </strong>
                                        <span>+6011 1066 9187</span>
                                    </li>
                                    <li>
                                        <i class="bi bi-mortarboard"></i>
                                        <strong>Degree: </strong>
                                        <span>Bachelor of Computer Science with Honours (Software Engineering)</span>
                                    </li>
                                    <li>
                                        <i class="bi bi-envelope"></i>
                                        <strong>Email: </strong>
                                        <span>chinxianrong@gmail.com</span>
                                    </li>
                                    
                                </ul>
                            </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>
<div class="section experience" id="experience">
    <div class="experience_slide">
         <div class="section_title">
            <div class="section_title_box">
                Experience
            </div>
            
        </div>
        <div class="section_content exp_ctn" >
            <div class="experience_content">
                
                <div class="workexp">
                    <div class='education'>
                        <div class='education__heading'>
                            <h4>Work Experience</h4>
                        </div>
                        <div class='education__content'>
                            <span class="timeline">
                                01 April 2024 – Present 
                            </span>
                            <h5>Ryobi Geotechnique (M) Sdn. Bhd. </h5>
                            <span class='year currentyear'></span>
                            <span class="role">
                                Software Engineer
                            </span>
                            <span class="role_respon">
                                <ul>
                                    <li>Web Development (fullstack- Vue3 and Python-Django)</li>
                                    <li>Web System Enhancement</li>
                                    <li>Web System Support and System Maintenance</li>
                                    <li>Maintains CI/CD for staging and production environment</li>
                                    <li>Conducts system review sessions with system stakeholders</li>	
                                </ul>
                                
                            </span>
                        </div>
                        <div class='education__content'>
                            
                            <span class="timeline">
                                28 February 2022 - 13 August 2022 
                            </span>
                            <h5>Sarawak Information System Sdn. Bhd. (SAINS)</h5>
                            <span class='year'></span>
                            <span class="role">
                                Internship-Business and System Analysts 
                            </span>
                            <span class="role_respon">
                                <ul>
                                    <li>Business and system requirement studies/preliminary studies </li>
                                    <li>Engaged with clients to gather system requirements </li>
                                    <li>Prepared user requirement study documents</li>
                                    <li>Performed web system enhancement (PHP language) </li>
                                    <li>Conducted system review sessions with clients </li>
                                </ul>
                                
                            </span>
                            
                        </div>
                        <div class='education__content'>
                            <span class="timeline">
                                December 2018 - July 2019 | February - April 2017 
                            </span>
                            <h5>Compuway Marketing Sdn. Bhd.</h5>
                            <span class='year'></span>
                            <span class="role">
                                Sale Executive cum Technician Assistant 
                            </span>
                            <span class="role_respon">
                                <ul>
                                    <li>Promoted Sales of computer and accessories </li>
                                    <li>Assembled customized computer </li>
                                    <li>Repaired computers and laptops</li>
                                </ul>
                                
                            </span>
                        </div>

                    </div>
                </div>
                <div class="educationexp">
					<div class='education'>
                        <div class='education__heading'>
                            <h4>Education</h4>
                        </div>
                        <div class='education__content'>
                            <span class="timeline">
                                2019 - 2023 
                            </span>
                            <h5>Universiti Malaysia Sarawak</h5>
                            <span class='year'></span>
							<span class="role">
                                Bachelor of Computer Science with Honours (Software Engineering) 
                            </span>
							<span class="role_respon">
								<ul>
                                    <li>CGPA: 3.73 (First Class Honours) </li>
									<li>Scholarship: Yayasan Sarawak Tun Taib Scholarship</li>
									<li>
										Other Award:
										<ul>
											<li>Dean’s List Award: 2019/2020 Semester 2 (YEAR 1)</li>
											<li>Dean’s List Award: 2020/2021 Semester 1 (YEAR 2)</li>
											<li>Dean’s List Award: 2020/2021 Semester 2 (YEAR 2)</li>
											<li>Dean’s List Award: 2021/2022 Semester 1 (YEAR 3)</li>
											<li>Dean’s List Award: 2022/2023 Semester 1 (YEAR 4)</li>
											<li>Dean’s List Award: 2022/2023 Semester 2 (YEAR 4)</li>
										</ul>
										
									</li>
                                </ul>
							</span>
                            


                        </div>
                        <div class='education__content'>
                            
                            <span class="timeline">
                                2017 - 2018
                            </span>
                            <h5>SMK GREEN ROAD</h5>
                            <span class='year'></span>
                            <span class="role">
                                STPM 
                            </span>
							<span class="role_respon">
                                <ul>
                                    <li>Astronomy Club - Treasure</li>
                                    <li>Chess Club - Member</li>
                                </ul>
                                
                            </span>
                            
                            
                        </div>
                        <div class='education__content'>
                            <span class="timeline">
                                2012 - 2016
                            </span>
                            <h5>SMK SUNGAI MAONG</h5>
                            <span class='year'></span>
                            <span class="role">
                                SPM
                            </span>
                            <span class="role_respon">
                                <ul>
                                    <li>Library Club - Vice President</li>
                                    <li>Taekwondo ITF - Treasure</li>
                                </ul>
                                
                            </span>
                        </div>

                    </div>
                </div>
            </div>
        
        </div>

    </div>
</div>

<div class="section project" id="project">
    <div class="project_slide">
        <div class="section_title">
            <div class="section_title_box">
                Project
            </div>
            
        </div>
        <div class="section_content" >
            <div class="project_item">
                
                    <div class="slide-container" style="">
                        <div class="w3-content" style="height: 90%">

                            <div class="pcard mySlides">
                                <div class="projectname">IDMS</div>
                                <div class="projectcontent">
                                    <div class="projectimg">
                                        <img src="/image/drill.jpg" alt="">
                                    </div> 
                                    <div class="projectdesc">
                                        Integrated Data Management System (IDMS) is a web-based Borehole Log System that centralizes borehole data and streamlines the collection, review, and preparation of borehole logs. This application is built with Django and Vue 3 to help geologists manage borehole data efficiently. It streamlines daily workflows, reduces manual errors, and ensures consistent, professional reporting. The system features an automated reporting module that generates standardized, scaled borelog reports with detailed soil descriptions, stratigraphic data, and operational records, all in compliance with Singapore government standards.
                                    </div>
                                </div>
                               
                                <div class="projectskill">
                                    <div class="psitem pdjango">Django</div>
                                    <div class="psitem pvue3">Vue3</div>
                                    <div class="psitem ppsql">Postgresql</div>
                                    <div class="psitem pgcp">GCP</div>
                                    <div class="psitem pgit">Github</div>
                                    <div class="psitem pcicd">CI/CD</div>
                                    <div class="psitem pproxy">Proxy </div>
                                </div>
                            </div>
                            <div class="pcard mySlides">
                                <div class="projectname">REALTIME</div>
                                <div class="projectcontent">
                                    <div class="projectimg">
                                        <img src="/image/realtime.webp" alt="">
                                    </div>
                                    <div class="projectdesc">
                                        RT-Web is a web-based platform developed with Django to replace the existing desktop application. Designed to enhance functionality and streamline the user experience, RT-Web offers real-time data access and supports the seamless deployment of new features. By moving to a web-based architecture, it reduces long-term maintenance efforts and improves overall operational efficiency.
                                    </div>
                                </div>
                                
                                <div class="projectskill">
                                    <div class="psitem pdjango">Django</div>
                                    <div class="psitem pmysql">MySQL</div>
                                    <div class="psitem pgcp">GCP</div>
                                    
                                </div>
                            </div>
                            <div class="pcard mySlides">
                                <div class="projectname">job@SAINS</div>
                                <div class="projectcontent">
                                    <div class="projectimg">
                                        <img src="/image/HR.gif" alt="">
                                    </div>
                                    <div class="projectdesc">
                                        job@SAINS is a web-based recruitment system designed to streamline the company’s hiring process. It enables applicants to apply for jobs online and allows HR to manage applications efficiently. The system enhances recruitment efficiency and accessibility through an internet-based platform and is developed using the company’s internal PHP-based framework.
                                    </div>
                                </div>
                                
                                <div class="projectskill">
                                    <div class="psitem pphp">PHP</div>
                                    <div class="psitem pmysql">MYSQL</div>
                                    <div class="psitem plinux">LINUX</div>
                                    
                                </div>
                            </div>
                            <div class="pcard mySlides">
                                <div class="projectname fyp">SMART SHOPPING CART CALCULATOR (Final Year Project)</div>
                                <div class="projectcontent">
                                    <div class="projectimg">
                                        <img src="/image/shoppingcart.png" alt="shoppingcart">
                                    </div>
                                    <div class="projectdesc">
                                        This is a IoT-enabled web-based shopping cart calculator system. Smart shopping cart with a built-in calculator can enhance the shopping experience by enabling users to easily estimate their total expenses. This feature serves as a financial reminder, prompting shoppers to make informed decisions as they add items to their cart. It encourages thoughtful choices, reducing overspending and waste. 
                                        <br>
                                        Paper:<a href="https://doi.org/10.37934/araset.49.1.117128">https://doi.org/10.37934/araset.49.1.117128</a>
                                        
                                    </div>
                                </div>
                                
                                <div class="projectskill">
                                    <div class="psitem parduino">Arduino(C++)</div>
                                    <div class="psitem pphp">PHP</div>
                                    <div class="psitem pmysql">MySQL</div>
                                    <div class="psitem pbootstrap">Bootstrap</div>
                                    
                                </div>
                            </div>
                        </div>

                        <div class="card_pages"  style="height: 10%; ">
                            <div class="card_btn">
                                <button class="w3-button w3-light-grey" onclick="plusDivs(-1)">❮ Prev</button>
                                <button class="w3-button w3-light-grey" onclick="plusDivs(1)">Next ❯</button>
                            </div>
                            <div class="card_page">
                                <button class="demo" onclick="currentDiv(1)">1</button> 
                                <button class="demo" onclick="currentDiv(2)">2</button> 
                                <button class="demo" onclick="currentDiv(3)">3</button> 
                                <button class="demo" onclick="currentDiv(4)">4</button> 
                            </div>
                          
                        </div>
                    
                    </div>
                

                

            </div>

        </div>


    </div>
</div>

<div class="section skill" id="skill">
    <div class="skill_slide">
        <div class="section_title">
            <div class="section_title_box">
                Skills
            </div>
            
        </div>
        <div class="section_content ctc_ctn">
            <div class="container skill_item">
                <div class="cards">
                    <div class="scard">
                        <div class="skillname">
                            Vue3
                        </div>
                        <div class="skillicon">
                            <div class="c100 p85 center">
                                <span><i class="fa-brands fa-vuejs" style="color:#42b883;"></i></span>
                                <div class="slice">
                                    <div class="bar"></div>
                                    <div class="fill"></div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                    <div class="scard">
                        <div class="skillname">
                            Django
                        </div>
                        <div class="skillicon">
                            <div class="c100 p85 center">
                                <span><i class="fa-brands fa-python" style="color:#3776AB;"></i></span>
                                <div class="slice">
                                    <div class="bar"></div>
                                    <div class="fill"></div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                    <div class="scard">
                        <div class="skillname">
                            MySQL
                        </div>
                        <div class="skillicon">
                            <div class="c100 p85 center">
                                <span><i class="fa-solid fa-database" style="color:#00758F;"></i></span>
                                <div class="slice">
                                    <div class="bar"></div>
                                    <div class="fill"></div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                    <div class="scard">
                        <div class="skillname">
                            PostgreSQL
                        </div>
                        <div class="skillicon">
                            <div class="c100 p85 center">
                                <span class="img-container"><img src="https://upload.wikimedia.org/wikipedia/commons/2/29/Postgresql_elephant.svg" 
                                    alt="PostgreSQL Logo" 
                                    width=""></span>
                                <div class="slice">
                                    <div class="bar"></div>
                                    <div class="fill"></div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                    <div class="scard">
                        <div class="skillname">
                            Git/GitHub
                        </div>
                        <div class="skillicon">
                            <div class="c100 p90 center">
                                <span><i class="fa-brands fa-github" style="color:#181717;"></i></span>
                                <div class="slice">
                                    <div class="bar"></div>
                                    <div class="fill"></div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                    
                </div>
                <div class="cards">
                    <div class="scard">
                        <div class="skillname">
                            CI/CD
                        </div>
                        <div class="skillicon">
                            <div class="c100 p65 center">
                                <span><i class="fa-solid fa-gears" style="color:#007acc;"></i></span>
                                <div class="slice">
                                    <div class="bar"></div>
                                    <div class="fill"></div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                    <div class="scard">
                        <div class="skillname">
                            Docker
                        </div>
                        <div class="skillicon">
                            <div class="c100 p55 center">
                                <span><i class="fa-brands fa-docker" style="color:#4285F4;"></i></span>
                                <div class="slice">
                                    <div class="bar"></div>
                                    <div class="fill"></div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                    <div class="scard">
                        <div class="skillname">
                            GCP
                        </div>
                        <div class="skillicon">
                            <div class="c100 p60 center">
                                <span><i class="fa-solid fa-cloud" style="color:#4285F4;"></i></span>
                                <div class="slice">
                                    <div class="bar"></div>
                                    <div class="fill"></div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                    <div class="scard">
                        <div class="skillname">
                            Gunicorn
                        </div>
                        <div class="skillicon">
                            <div class="c100 p70 center">
                                <span class="img-container"><img src="https://gunicorn.org/images/favicon.png" 
                                                alt="Gunicorn Logo" 
                                                width=""></span>
                                <div class="slice">
                                    <div class="bar"></div>
                                    <div class="fill"></div>
                                </div>
                            </div>
                            
                        </div>
                    </div>

                    <div class="scard">
                        <div class="skillname">
                            Nginx
                        </div>
                        <div class="skillicon">
                            <div class="c100 p70 center">
                                <span class="img-container"><img src="https://th.bing.com/th/id/ODF.U7vXwbfjBBbvDRM-yZec6A?w=32&h=32&qlt=90&pcl=fffffa&o=6&cb=12&pid=1.2" 
                                                alt="Gunicorn Logo" 
                                                width=""></span>
                                <div class="slice">
                                    <div class="bar"></div>
                                    <div class="fill"></div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
                <div class="cards">
                    <div class="card_other">Bootstrap, PHP, Arduino(C++), Java</div>
                
                </div>


            </div>

            
            
        </div>

    </div>
</div> 



<div class="section hobbie" id="hobbie">
    <div class="hobbie_slide">
		<div class="section_title">
            <div class="section_title_box">
                Hobbies
            </div>
            
        </div>
		
		<div class="section_content hbb_ctn col-12">
            <div class="hobbies-info">
                <div class="hobbies-container">
                    <!-- Card 1 -->
                    <div class="hobbie-card">
                        <!-- <img src="https://via.placeholder.com/300x180" alt="hobbie One"> -->
                        <h3>🏋️ Gym & Fitness</h3>
                        <p>I go to the gym at least three times a week to build discipline, stamina, and strength. Consistent training not only improves my posture and physical fitness but also boosts my confidence and keeps my mind clear and energized.</p>

                    </div>

                    <!-- Card 2 -->
                    <div class="hobbie-card">
                        <!-- <img src="https://via.placeholder.com/300x180" alt="hobbie Two"> -->
                        <h3>🥁 Drumming</h3>
                        <p>Drums are my way of connecting with music. Playing drum keeps me confident, focused, and energized.</p>

                    </div>

                    <!-- Card 3 -->
                    <div class="hobbie-card">
                        <!-- <img src="https://via.placeholder.com/300x180" alt="hobbie Three"> -->
                        <h3>🥾 Hiking</h3>
                        <p>I love exploring nature through hiking. It is a chance to recharge, seek adventure, and enjoy stunning views with friends. Hiking is excellent cardio and gives me a rewarding sense of accomplishment after every trail.</p>

                    </div>

                    <!-- Card 4 -->
                    <div class="hobbie-card">
                        <!-- <img src="https://via.placeholder.com/300x180" alt="hobbie Four"> -->
                        <h3>🏃 Marathon Running</h3>
                        <p>I have completed two half marathons in 2024 and 2025, which I consider proud achievements. Training for marathons strengthens both my body and discipline, pushing me to constantly improve and stay committed.</p>

                    </div>
                </div>
            </div>


        </div>
    </div>
</div>


<div class="section contact" id="contact">
    <div class="contact_slide">

		<div class="section_title">
           <div class="section_title_box">
                Contact
            </div>
            
        </div>
		
		<div class="section_content col-12">
			<div class="contact-info col-12">
				<div class="row d-flex sub-contact-info">
					<div class="card email-card" onclick="copyEmail()">
						<span class="card-item email-icon"><i class="bi bi-envelope-at-fill"></i></span>
						<span class="card-item email-text">chinxianrong@gmail.com</span>
						<span class="copy-icon"><i class="bi bi-clipboard"></i></span>
						<span class="copy-tooltip">Copied!</span>
					</div>
					<div class="card phone-card" onclick="copyPhone()">
						<span class="card-item phone-icon"><i class="bi bi-telephone-fill"></i></span>
						<span class="card-item phone-text">+60 11-1066 9187</span>
						<span class="copy-icon"><i class="bi bi-clipboard"></i></span>
						<span class="copy-tooltip">Copied!</span>
					</div>
					<div class="card location-card">
						<span class="card-item location-icon"><i class="bi bi-geo-alt-fill"></i></span>
						<span class="card-item location-text">No. 258 Carina Estate, Jalan Stapok Utama, 93250 Kuching, Sarawak</span>
					</div>
					<div class="card linkedin-card" onclick="window.open('https://www.linkedin.com/in/chin-xian-rong', '_blank')">
						<span class="card-item linkedin-icon"><i class="bi bi-linkedin"></i></span>
						<span class="card-item linkedin-text">LinkedIn</span>
					</div>
					<div class="card website-card" onclick="window.open('https://yourwebsite.com', '_blank')">
						<span class="card-item web-icon"><i class="bi bi-link-45deg"></i></span>
						<span class="card-item web-text">Website</span>
					</div>

				</div>
				

				
				
				
			</div>
		</div>
				
    </div>
</div>



